VITE_SUPABASE_URL=https://xteetylklcnnrrxybsel.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0ZWV0eWxrbGNubnJyeHlic2VsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyMjYwNDMsImV4cCI6MjEwMTgwMjA0M30.W1SQx4UTyqBFpngbn7lL42cqoanomLdK1EbhnA4IGaE
VITE_ADMIN_API_URL=http://localhost:5000/api
